body {
  background-color: #1A2B5B;
  background-image: url(./Assets/ldb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.container {
  width: 60%;
  height: auto;
  border-right: 4px solid #7CF9FA;
  border-left: 4px solid #F96BE0;
  border-top: 4px solid #F96BE0;
  border-bottom: 4px solid #7CF9FA;
}

.head {
  color: #F96BE0;
  font-size: 1.5rem;
  text-align: center;
  border: 4px solid #7CF9FA;
  border-radius: 12px;
  padding: 1%;
}

.refresh {
  display: flex;
  justify-content: space-around;
  height: 5%;
  align-items: center;
  margin-top: 2%;
}

.refresh-header {
  color: #F96BE0;
}

.submit {
  background-color: #7CF9FA;
  width: 80px;
  height: 25px;
}

ul {
  list-style-type: none;
  width: 80%;
  margin-left: 5%;
}

.score-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-item {
  color: #7CF9FA;
}

.score {
  color: #F96BE0;
}
