body {
  background-color: #1a2b5b;
  background-image: url(./Assets/ldb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.container {
  width: 60%;
  height: auto;
  border-right: 4px solid #7cf9fa;
  border-left: 4px solid #f96be0;
  border-top: 4px solid #f96be0;
  border-bottom: 4px solid #7cf9fa;
  overflow-y: scroll;
}

.head {
  color: #f96be0;
  font-size: 1.5rem;
  text-align: center;
  border: 4px solid #7cf9fa;
  border-radius: 12px;
  padding: 1%;
}

.refresh {
  display: flex;
  justify-content: space-around;
  height: 5%;
  align-items: center;
  margin-top: 2%;
}

.refresh-header {
  color: #f96be0;
}

.submit {
  background-color: #7cf9fa;
  width: 80px;
  height: 25px;
}

ul {
  list-style-type: none;
  width: 80%;
  margin-left: 5%;
}

.score-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-item {
  color: #7cf9fa;
}

.score {
  color: #f96be0;
}

button {
  box-shadow: 3px 3px #f96be0;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 40px;
}

.heading {
  color: #f96be0;
}

.span {
  color: #7cf9fa;
}

input {
  height: 25px;
}

.name-input {
  background-color: #7cf9fa;
}

.score-input {
  background-color: #f96be0;
}

@media all and (max-width: 720px) {
  body {
    background-color: #1a2b5b;
    background-image: url(./Assets/ldb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  main {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .container {
    width: 90%;
    height: auto;
    border-right: 4px solid #7cf9fa;
    border-left: 4px solid #f96be0;
    border-top: 4px solid #f96be0;
    border-bottom: 4px solid #7cf9fa;
  }

  .add-score {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
  }
}
